/* GLOBAL */
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  user-select: none;
  font-family: "PKMN RBYGSC";
}
.loaderContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.loaderBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.75;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loaderGroup {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loaderImage {
  animation: rotateAnimation 1.5s linear infinite;
  height: 200px;
  width: 200px;
}
.loaderText {
  color: white;
  z-index: 99; /*DEBERÍA SOBRAR*/
}
.noSupport {
  position: absolute;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0.5;
  z-index: 99;
}

/* NAV */
nav {
  position: fixed;
  height: 100%;
  width: 12.5vw;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: 20% 75%;
  grid-auto-rows: min-content;
  gap: 10px 0px;
  z-index: 1;
}
nav #elements {
  grid-area: 1 / 1 / 3 / 3;
}
nav input {
  justify-self: end;
}
nav span {
  justify-self: start;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox-round:checked {
  background-color: purple;
}

/*MAIN*/
main {
  min-height: 800px;
  margin-top: 3px;
  width: 75%;
  height: auto;
  border-inline: 1px black solid;
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  padding-bottom: 6px;
}

/* POKEBLOCK */
.pokeBlock {
  align-self: center;
  justify-self: center;
  margin-top: 6px;
  border: 1px rgb(80, 80, 80) solid;
  background-color: rgb(231, 230, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
}
.num {
  font-size: 18px;
  margin-right: 5%;
}
.name {
  font-size: 18px;
}
.sprite {
  scale: 1.5;
}
.typeContainer {
  display: flex;
  margin-bottom: 10%;
}
/* MEDIAQUERYS */
@media (max-width: 463px) {
  .noSupport {
    visibility: visible;
  }
  main,
  header,
  footer,
  nav,
  .profileWindow,
  .loaderContainer {
    visibility: hidden;
  }
}

@media (min-width: 464px) {
  main {
    grid-template-columns: 1fr;
    padding-bottom: 10px;
  }
  .pokeBlock {
    margin-top: 10px;
    height: 338px;
    width: 338px;
  }
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 8px;
  }
  .pokeBlock {
    margin-top: 8px;
    height: 270px;
    width: 270px;
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
  .pokeBlock {
    height: 240.66px;
    width: 240.66px;
  }
}

@media (min-width: 1440px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
  .pokeBlock {
    height: 255.5px;
    width: 255.5px;
  }
}

@media (min-width: 1920px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
  .pokeBlock {
    height: 274px;
    width: 274px;
  }
}

@media (min-width: 2560px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
  .pokeBlock {
    height: 369px;
    width: 369px;
  }
}

/*HEADER*/
header {
  height: 15vh;
  width: 75%;
  display: flex;
}
.search {
  width: 80%;
  height: 98%;
  font-size: 50px;
}
/*FOOTER*/
footer {
  height: 15vh;
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.pageContainer {
  height: 100%;
  width: 80%;
  font-size: 32px;
  background-color: rgb(243, 189, 90);
  border: 2px black solid;
  border-inline: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*BUTTONS*/
.backBtn {
  width: 10%;
  height: 100%;
  background-color: orange;
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.backBtn img {
  width: 5%;
  height: 10%;
  position: absolute;
  transform: rotate(180deg);
}
.nextBtn {
  width: 10%;
  height: 100%;
  background-color: orange;
  border: 2px black solid;
  border-left: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.nextBtn img {
  width: 5%;
  height: 10%;
  position: absolute;
}
.disabled {
  pointer-events: none;
  background-color: grey;
}
.fader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  opacity: 0;
  background-color: black;
  opacity: 0.75;
  visibility: hidden;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0.75;
    visibility: visible;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.75;
    visibility: visible;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.profileWindow {
  position: fixed;
  top: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.profileBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 10px solid grey;
  border-top-left-radius: 2.5%;
  border-top-right-radius: 2.5%;
  background-color: white;
  width: 100%;
  height: 100%;
}
.topPart {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
  background-color: orange;
}
.spriteProfile {
  height: 200px;
  width: 200px;
}
.numProfile {
  font-size: 18px;
  margin-right: 5%;
}
.nameProfile {
  font-size: 18px;
}
.hudPart {
  display: flex;
  justify-content: space-evenly;
}
.bottomPart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
  height: 70%;
  text-align: center;
  background-color: lightsalmon;
}
.backProfileBtn img {
  width: 2.5%;
  height: 5%;
  position: absolute;
  transform: rotate(180deg);
}
.spritePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}
.nextProfileBtn {
  order: 2;
}
.nextProfileBtn img {
  width: 2.5%;
  height: 5%;
  position: absolute;
}
.closeProfile {
  position: absolute;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 10vw;
  /* height: 75px;
  width: 75px;
  background-color: white;
  border-radius: 10%; */
}
.closeProfile img {
  position: absolute;
  top: -5px;
  width: 25%;
  height: 50%;
  background-color: white;
  border: 5px solid grey;
  border-radius: 50%;
  transform: rotate(-90deg);
}
@keyframes slideUp {
  0% {
    top: 97.5%;
  }
  100% {
    top: 0%;
  }
}
@keyframes slideDown {
  0% {
    top: 2.5%;
  }
  100% {
    top: 100%;
  }
}
@keyframes openTeaseUp {
  0% {
    top: 100%;
  }
  100% {
    top: 97.5%;
  }
}
@keyframes openTeaseDown {
  0% {
    top: 97.5%;
  }
  100% {
    top: 100%;
  }
}
@keyframes closeTeaseUp {
  0% {
    top: 2.5%;
  }
  100% {
    top: 0%;
  }
}
@keyframes closeTeaseDown {
  0% {
    top: 0%;
  }
  100% {
    top: 2.5%;
  }
}
main,
header,
footer,
nav,
.profileWindow {
  opacity: 0;
}
@keyframes pageLoaded {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
